        body {
            background-color: rgb(117, 200, 228);
           
        }
        p {
            font-family: Arial, Helvetica, sans-serif;

        }
        .error {
            columns: red;
        }

        h1 {
            font-family: Arial, Helvetica, sans-serif;
            color: #4CAF50
        }
        .greetname {
            font-family: Arial, Helvetica, sans-serif;
            font-size: large;
            color: rgba(0, 0, 0, 0.753);
        }

        .warning {
            font-family: Arial, Helvetica, sans-serif;
            font-size: x-large;
            color: red;
            text-align: center;
        } 

        .navbar {
            list-style-type: none;
            margin: 0;
            padding: 0;
            display: flex;
            background-color: #b3ecbd;
            overflow: hidden;
            justify-content: space-between;
            align-items: center;
        }

        .navbar li.brand a {
            color: #4CAF50;
            text-align: center;
            padding: 14px 16px; 
            text-decoration: none;
            font-family: Arial, sans-serif;
            font-size: 1.5em;
            font-weight: bold;
            letter-spacing: 1px;
            pointer-events: none;
        }

        .navbar ul.right-buttons {
            display: flex;
            list-style-type: none;
            margin: 0;
            padding: 5px;
        }

        .navbar ul.right-buttons li a {
            display: flex;
            color: white;
            text-align: center;
            padding: 5px 16px;
            margin: 0 1px;
            text-decoration: none;
            font-family: Arial, sans-serif;
        }

        .navbar ul.right-buttons li a.default-btn{
            background-color: #4CAF50; 
            
        }


        .navbar ul.right-buttons li a.default-btn:hover {
            background-color: #4CAF50;
        }

        footer { 
            text-align: center;
            font-family: Arial, sans-serif;
            font-size: 0.8em;
            color:#0400ff;
            position: fixed;
            bottom: 0;
            width: 100%;
        }

        .formcontainer {
            width: 350px;
            position:absolute;
            top:20%;
            left:40%;
            padding: 20px;
            background-color: #b3ecbd;
            border-radius: 8px;
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);

        }
              
        .formcontainer h2 {
            text-align: center;
            display: block;
            font-family: Arial, sans-serif;
            color: #4CAF50;
            margin-bottom: 20px;
            font-family: Arial, sans-serif;
        }

        .form-group {
            margin-bottom: 15px; 
        }

        .form-group label {
            display: block; 
            margin-bottom: 5px;
            font-weight: bold;
            color: #555;
            font-family: Arial, sans-serif;
            font-size: 0.9em;
        }

        .form-group button {
            border: none;
            background: #4CAF50;
            color: white;
            padding: 15px 32px;
            text-align: center;
            font-size: 16px;
            font-weight: bold;
            
        }

        .pagewide {
            float: left;
            width: 46%;
            font-family: Arial, Helvetica, sans-serif;
            background-color: #b3ecbd;
            padding: 15px;
            margin: 25px;
            height: 300px;
            overflow-y: scroll;
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
        }
        
        .pagewide h2 {
            font-family: Arial, Helvetica, sans-serif;
            font-size: large;
            position: sticky;
            display: block;
            top:0;
            width: 98%;
            background-color: #555;
            padding:5px;
            color: white;
        }

        .pagepanel {
            float: left;
            width: 75%;
            font-family: Arial, Helvetica, sans-serif;
            background-color: #b3ecbd;
            padding: 15px;
            margin: 25px;
            height: 300px;
            overflow-y: scroll;
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
        }

        .pagepanel h2 {
            font-family: Arial, Helvetica, sans-serif;
            font-size: large;
            position: sticky;
            display: block;
            top:0;
            width: 98%;
            background-color: #555;
            padding:5px;
            color: white;
        }
      
 