{% extends "layout.html" %}

{% block title %}<h1>Welcome to HMS</h1> {% endblock %} 
 
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}


{% block content %}
<div class="formcontainer">
        <h2>Add Doctor</h2>
        {% if error %}
            <p class=error><strong>Error:</strong>{{ error }}</p> 
        {% endif %}
        <form action="/admin-dashboard/adddoc" method="post">
            <div class="form-group">
                <p><label>Full Name</label>
                <input name='username' type="text" id="name" placeholder="Ashok Kumar" required></p>
            </div>
            <div class="form-group">
                <p><label>E-mail</label>
                <input name='email' type="email" id="email" placeholder="ashok.kumar@gmailed.com" required></p>
            </div>
            <div class="form-group">
                <p><label>Password</label>
                <input name='passwd' type="password" id="passwd" placeholder="Enter password" required></p>
            </div>
            <div class="form-group">
                <p><label>Department</label></p>
                
                <select name="dept" id="dept">
                <option value="" selected disabled>Select a department</option>
                    {% for d in dname %}
                        <option value = "{{ d.id }}" >{{ d.dept_name }} </option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <button  type="submit">Add Doctor</button>
                <p><a href="/admin-dashboard">Return to Dashboard</a></p>
            </div>
        </form>
    </div>
    
   
{% endblock %}