{% extends "layout.html" %}

{% block title %}<h1>Welcome to HMS</h1> {% endblock %} 
 
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}


{% block content %}
    <img style=" height:100%; width:100%; float:none; margin:auto;" src="/static/bg.jpg" style="width:100%;height:100%" >
    {% if "Successful" in error %}
            <p class=error><strong>Alert:</strong>{{ error }}</p> 
    {% elif "Error" in error %}
            <p class=error><strong>Error:</strong>{{ error }}</p> 
    {% endif %}
{% endblock %}