<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css"  href="/static/style.css">
    <title>Hospital Management System</title>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}   
  </head>
   
  <body>
        {% if not session %}
            <ul class="navbar">
                <li class="brand"><a href="#">Hospital Management System</a></li>
                
                <ul class="right-buttons">
                    <li><a href="{{url_for('login')}}" class="default-btn">Login</a></li>
                    <li><a href="{{url_for('signup')}}" class="default-btn">Sign up</a></li>
                </ul>
            </ul>
        
        {% else %}
            {% set uvalue = session.role %}
            {% if uvalue == 0 %}
                <ul class="navbar">
                    <li class="brand"><a href="#">Hospital Management System</a></li>
                    <ul class="right-buttons">
                        <li><a href="#" class="default-btn">Manage Profiles</a></li>
                        <li><a href="#" class="default-btn">Show Appointments</a></li>
                        <li><a href="{{url_for('logout')}}" class="default-btn">Logout</a></li>
                    </ul>
                </ul>
            {% elif uvalue == 1 %}
                <ul class="navbar">
                    <li class="brand"><a href="#">Hospital Management System</a></li>
                    
                    <ul class="right-buttons">
                        <li><a href="{{url_for('bookapt')}}" class="default-btn">Book Appointment</a></li>
                        <li><a href="{{url_for('showhistory')}}" class="default-btn">View Appointments</a></li>
                        <li><a href="{{url_for('logout')}}" class="default-btn">Logout</a>  </li>
                    </ul>
                </ul>
            {% elif uvalue == 2 %}
                     <ul class="navbar">
                        <li class="brand"><a href="#">Hospital Management System</a></li>
                        
                        <ul class="right-buttons">
                            <li><a href="#" class="default-btn">View Appointments</a></li>
                            <li><a href="#" class="default-btn">Mark Availability</a></li>
                            <li><a href="{{url_for('logout')}}" class="default-btn">Logout</a></li>
                        </ul>
                    </ul>
            {% endif %}
        
        {% endif %}
        
        
    
        {% block content %}
        {% endblock %}
    
        <footer>&copy;2025-2026 | HMS by 21f3001861 | <a href="https://thirugns.helioho.st/">Website</a></p></footer>
    

    
  </body>
</html>