<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css"  href="/static/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=search" />
    

    <title>Hospital Management System</title>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}   
  </head>
   
  <body>
        {% if not session %}
            <ul class="navbar">
                <li class="brand"><a href="#">Hospital Management System</a></li>
                
                <ul class="right-buttons">
                    <li><a href="{{url_for('login')}}" class="default-btn">Login</a></li>
                    <li><a href="{{url_for('signup')}}" class="default-btn">Sign up</a></li>
                </ul>
            </ul>
        
        {% else %}
            {% set uvalue = session.role %}
            {% if uvalue == 0 %}
                <ul class="navbar">
                    <li class="brand"><a href="#">Hospital Management System | Admin Dashboard</a></li>
                    <ul class="right-buttons">
                    <form action="#" method="post">
                        <input type="search" size="50" id="searchrecs" name="searchrec" placeholder="Enter name of Doctor/Patient/Department">
                        <button type="Submit">Search</button>
                    </form>
                        <li><a href="{{url_for('logout')}}" class="default-btn">Logout</a></li>
                    </ul>
                </ul>
                
            {% elif uvalue == 1 %}
                <ul class="navbar">
                    <li class="brand"><a href="#">Hospital Management System | Hello {{ session.name | title }} | Patient Dashboard</a></li>
                    
                    <ul class="right-buttons">
                        <li><a href="#" class="default-btn">Edit Profile</a></li>
                        <li><a href="{{url_for('showhistory')}}" class="default-btn">History</a></li>
                        <li><a href="{{url_for('logout')}}" class="default-btn">Logout</a>  </li>
                    </ul>
                </ul>
            {% elif uvalue == 2 %}
                     <ul class="navbar">
                        <li class="brand"><a href="#">Hospital Management System | Hello Dr. {{ session.name | title }} | Doctor Dashboard</a></li>
                        
                        <ul class="right-buttons">
                            <li><a href="#" class="default-btn">Mark Availability</a></li>
                            <li><a href="{{url_for('logout')}}" class="default-btn">Logout</a></li>
                        </ul>
                    </ul>
            {% endif %}
        
        {% endif %}
        
        
    
        {% block content %}
        {% endblock %}
    
        <footer>&copy;2025-2026 | HMS by 21f3001861 | <a href="https://thirugns.helioho.st/">Website</a></p></footer>
    

    
  </body>
</html>