{% extends "layout.html" %}

{% block title %} {% endblock %} 

{% block content %}
    <div class="pagewide">
        <h2>Upcomming Appointments</h2>
    </div>
    <div class="pagewide">
        <h2>Departments </h2>
        
        <table style="width:99%; border-collapse: collapse;">
            <tr>
                <th style="padding: 10px; border: 1px solid #037a1d; text-align:center;height: 25px;">Department Name</th>
                <th style="padding: 10px; border: 1px solid #037a1d; text-align:center;">Description</th>
                <th style="padding: 10px; border: 1px solid #037a1d; text-align:center;">Action</th>
            </tr>
                    {% for dp in dept %}
                        <tr >
                            <td style="text-align: center;border: 1px solid #037a1d; height: 20px;">{{ dp.dept_name | title }}</td>
                            <td style="text-align: center;border: 1px solid #037a1d;">{{ dp.description }}</td>
                            <td style="text-align: center;border: 1px solid #037a1d;">
                                <a href="#"><img src="/static/viewdets.png" title="View Details" width="20" height="20" alt="View Details"></a>

                            </td>
                        </tr>
                    {% endfor %}
        </table>
    </div>

{% endblock %}