{% extends "common.html" %}

{% block title %}Login {% endblock %} 

{% block content %}
    
    <div class="formcontainer">
        <h2>Sign Up</h2>
        <form action="">
            <div class="form-group">
                <p><label>Full Name</label>
                <input type=""text" id="name" placeholder="Ashok Kumar" required></p>
            </div>
            <div class="form-group">
                <p><label>E-mail</label>
                <input type="email" id="email" placeholder="ashok.kumar@gmail.com" required></p>
            </div>
            <div class="form-group">
                <p><label>Password</label>
                <input type="password" id="passwd" placeholder="Enter password" required></p>
            </div>
            <button type="submit">Sign up</button>
            <p>Already singned up? <a href="{{url_for('login')}}">Login</a> here.</p>
        </form>
    </div>
{% endblock %}